{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/connexion1.css' %}">
</head>
<body>

    <div class="login-box">
        <h2>Connexion</h2>
        <form method="POST" action="{% url 'connexion' %}">
          {% csrf_token %}

          <div class="user-box">
            <input type="text" name="email" required>
            <label>E-mail</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required>
            <label>Mot de passe</label>
          </div>
          <button>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Se connecter
          </button>
          {% if erreur_message %}
             <p class="err">{{erreur_message}} </p>
          {%endif%}
        </form>
      </div>
</body>
</html>
